* {
  font-family: 'Quicksand', sans-serif;
}

#navbar-logo {
  width: 35px;
  margin-right: 15px;
}

/* Edicin de Bootstrap */
.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-width: 250px;
  display: flex;
  text-align: center;
}

.custom-btn {
  width: 100%;
}

/* Imagen de fondo */
.image-and-text {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 89.4vh;
  width: 100%;
  margin-top: 60px;

  /* Letra */
  font-size: 4rem;
  color: white;
  display: grid;
  text-align: center;
  place-items: center;
}

.image-and-text:before {
  content: '';
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(46, 46, 46) 100%);
  opacity: 0.7;
  z-index: 1;
}

.image-and-text p {
  z-index: 2;
}

/* Primera imagen */
#best-hotels {
  background-image: url(https://images.pexels.com/photos/5378703/pexels-photo-5378703.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
/* Segunda imagen */
#events-hotel {
  background-image: url(https://images.pexels.com/photos/50675/banquet-wedding-society-deco-50675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

/* Carousel */
.choose-from-catalogue {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.choose-from-catalogue-phrase {
  max-width: 30vw;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

.choose-from-catalogue-phrase span {
  font-weight: bold;
}

/* Imagenes del carrusel */
.carousel-left {
  max-width: 40vw;
}

.carousel-left img {
  border-radius: 20px;
}

footer {
  display: grid;
  place-items: center;
  color: white;
  background-color: #212529;
  height: 60px;
}

@media (max-width: 761px) {
  .image-and-text {
    font-size: 1.5rem;
  }
  .choose-from-catalogue {
    flex-direction: column;
    align-items: center;
  }
  .carousel-left {
    max-width: 70%;
  }
  .choose-from-catalogue-phrase {
    max-width: 70%;
  }
}
